* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    background-color: #0b0a0ad8;
}

.calculator {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: #000807;
}

table td {
    display: inline-block;
}

.btn {
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #0c2115;
    color: #dfdfdf;
    font-size: 16px;
    transition: all 500ms ease-in-out;
}

.btn:hover {
    background-color: #162f3b;
}

.ac {
    background-color: #228f2f;
}

.ac:hover {
    background-color: #9e1f1f;
}

.especial {
    background-color: #228f2f;
}

.especial:hover {
    background-color: #1c6b18;
}

.igual {
    background-color: #228f2f;
}

.igual:hover {
    background-color: #252796;

}

.result {
    height: 100px;
    color: #dfdfdf;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    border-bottom: 1px solid #228f2f;
}